<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name = "viewport" content = "width=device-width">
    <meta name = "viewport" content = "initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="main.css">
    <style type="text/css">
    </style>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>
